@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Hide the arrows in input of type number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

/* Hide the placeholder in input when on focus */
input:focus::placeholder {
  color: transparent;
}

.react-colorful:hover {
  cursor: pointer;
}

.only-hue .react-colorful {
  height: min-content;
}

.only-hue .react-colorful__saturation {
  display: none;
}

.picker-pill .react-colorful__hue {
  border-radius: 2em;
  width: 9rem;
}
